/*import google*/

@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kite+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

/*navbar*/

.navbar a {
color: #F06900;
}

/*media queries for sidebar*/

@media screen and (max-width: 720px){
.sidebar {display:none;}
}
@media screen and (max-width: 800px){
.sidebar {display:none;}
}
@media screen and (max-width: 880px){
.container-headlines {margin-left:10%}
.sidebar {display:none;}
}
@media screen and (max-width: 1080px){
.container-headlines {margin-left:10%;}
.sidebar {display:none;}
}
@media screen and (max-width: 1920px){
.container-headlines {margin-left:15%;}
}

/*top headings for all pages*/

.container-home h1, .container-bbc h1, .container-cnn h1, .container-sources h1, .container-articles h1, .container-tech h1, .container-tradar h1, .container-verge h1 {
text-align: center;
color: #FF7D19;
font-family:Bungee Inline;
}

/*all cards*/

.card-content {
background-color: #A34700;
padding: 5%;
}

.text_s {
color: #00D4F0;
font-weight: bold;
font-family: 'NTR';
font-size: 22px;
}

.text {
color: #e9d8a6;
font-weight: bold;
font-family: 'JetBrains Mono';
font-size: 15px;
}

.text-muted {
color: #F06900;
}

.card-title {
color: #FF7D19;
font-weight: bold;
font-family: 'NTR';
font-size: 25px;
}

.container-sources .card-body {
font-family: 'Kite One';
}

.container-sources .card-text {
font-size: 15px;
line-height: 2;
}




