{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!--styles block-->

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}


<!--content block-->

{% block content %}

<h1>
  Welcome to NewsFactRar
</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <h2>
        Top Headlines
    </h2>

    {{ macro.displayTopHeadlines(my_headlines) }}


    <h2>
        Top Sources
    </h2>

    {{ macro.displayAllSources(my_sources) }}

</div>


{% endblock %}
