{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!--styles block-->

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}


<!--content block-->

{% block content %}



<div class="container container-home">


    <h1 style="font-family:Rammetto One;font-size:45px;">
        Welcome to NewsFactRar
    </h1>
    <h3 style="font-weight:bold;font-family:Merienda One">
        We've got news for you!
    </h3>
    <hr>

    <div class="container container-headlines">
        {{ macro.displayTopHeadlines(my_headlines) }}
    </div>

    <div class="container container-sources">
        {{ macro.displayAllSources(my_sources) }}
    </div>


</div>








{% endblock %}
