{% macro displayTopHeadlines(my_headlines) %}

    {% for source, author, title, description, url, urlToImage, publishedAt, content in my_headlines %}
        <li>
            <p>{{source.id}}</p>
            <p>{{author}}</p>
            <p>{{title}}</p>
            <p>{{description}}</p>
            <p>{{url}}</p>
            <p>{{urlToImage}}</p>
            <p>{{publishedAt}}</p>
            <p>{{content}}</p>
        </li>
    {% endfor %}

{% endmacro %}


{% macro displayAllSources(my_sources) %}

    {% for source in my_sources %}
        <li>
            <p>{{source.name}}</p>
            <p>{{source.description}}</p>
            <p>{{source.url}}</p>
        </li>
    {% endfor %}

{% endmacro %}


{% macro displayAllArticles(my_articles) %}

    {% for source, author, title, description, url, urlToImage, publishedAt, content in my_articles %}
        <li>
            <p>{{source.id}}</p>
            <p>{{author}}</p>
            <p>{{title}}</p>
            <p>{{description}}</p>
            <p>{{url}}</p>
            <p>{{urlToImage}}</p>
            <p>{{publishedAt}}</p>
            <p>{{content}}</p>
        </li>
    {% endfor %}

{% endmacro %}


{% macro displayBbcArticles(my_bbc) %}

    {% for source, author, title, description, url, urlToImage, publishedAt, content in my_bbc %}
        <li>
            <p>{{source.id}}</p>
            <p>{{author}}</p>
            <p>{{title}}</p>
            <p>{{description}}</p>
            <p>{{url}}</p>
            <p>{{urlToImage}}</p>
            <p>{{publishedAt}}</p>
            <p>{{content}}</p>
        </li>
    {% endfor %}

{% endmacro %}


{% macro displayCnnArticles(my_cnn) %}

    {% for source, author, title, description, url, urlToImage, publishedAt, content in my_cnn %}
        <li>
            <p>{{source.id}}</p>
            <p>{{author}}</p>
            <p>{{title}}</p>
            <p>{{description}}</p>
            <p>{{url}}</p>
            <p>{{urlToImage}}</p>
            <p>{{publishedAt}}</p>
            <p>{{content}}</p>
        </li>
    {% endfor %}

{% endmacro %}