{% macro displayTopHeadlines(my_headlines) %}

    {% for source, author, title, description, url, urlToImage, publishedAt, content in my_headlines %}
  <div class="col">
    <div class="card h-100">
      <img src="{{urlToImage}}" class="card-img-top" alt="{{title}} image" width="200">
      <div class="card-body">
          <a href="{{url}}">
           <h5 class="card-title">{{title}}</h5>
          </a>
          <h6 class="card-text">{{description}}</h6>
          <p class="card-text">{{content}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Published {{publishedAt}}</small>
          <small class="text-muted"> <i> Author: {{author}} </i> | <i> Source: {{source.id}} </i> </small>
      </div>
    </div>
  </div>

    {% endfor %}

{% endmacro %}


{% macro displayAllSources(my_sources) %}

    {% for source in my_sources %}
        <li>
            <p>{{source.name}}</p>
            <p>{{source.description}}</p>
            <p>{{source.url}}</p>
        </li>
    {% endfor %}

{% endmacro %}


{% macro displayAllArticles(my_articles) %}

    {% for source, author, title, description, url, urlToImage, publishedAt, content in my_articles %}
        <li>
            <p>{{source.id}}</p>
            <p>{{author}}</p>
            <p>{{title}}</p>
            <p>{{description}}</p>
            <p>{{url}}</p>
            <p>{{urlToImage}}</p>
            <p>{{publishedAt}}</p>
            <p>{{content}}</p>
        </li>
    {% endfor %}

{% endmacro %}


{% macro displayBbcArticles(my_bbc) %}

    {% for source, author, title, description, url, urlToImage, publishedAt, content in my_bbc %}
        <li>
            <p>{{source.id}}</p>
            <p>{{author}}</p>
            <p>{{title}}</p>
            <p>{{description}}</p>
            <p>{{url}}</p>
            <p>{{urlToImage}}</p>
            <p>{{publishedAt}}</p>
            <p>{{content}}</p>
        </li>
    {% endfor %}

{% endmacro %}


{% macro displayCnnArticles(my_cnn) %}

    {% for source, author, title, description, url, urlToImage, publishedAt, content in my_cnn %}
        <li>
            <p>{{source.id}}</p>
            <p>{{author}}</p>
            <p>{{title}}</p>
            <p>{{description}}</p>
            <p>{{url}}</p>
            <p>{{urlToImage}}</p>
            <p>{{publishedAt}}</p>
            <p>{{content}}</p>
        </li>
    {% endfor %}

{% endmacro %}


{% macro displayTechCrunchArticles(my_tech) %}

    {% for source, author, title, description, url, urlToImage, publishedAt, content in my_tech %}
        <li>
            <p>{{source.id}}</p>
            <p>{{author}}</p>
            <p>{{title}}</p>
            <p>{{description}}</p>
            <p>{{url}}</p>
            <p>{{urlToImage}}</p>
            <p>{{publishedAt}}</p>
            <p>{{content}}</p>
        </li>
    {% endfor %}

{% endmacro %}


{% macro displayTechRadarArticles(my_tradar) %}

    {% for source, author, title, description, url, urlToImage, publishedAt, content in my_tradar %}
        <li>
            <p>{{source.id}}</p>
            <p>{{author}}</p>
            <p>{{title}}</p>
            <p>{{description}}</p>
            <p>{{url}}</p>
            <p>{{urlToImage}}</p>
            <p>{{publishedAt}}</p>
            <p>{{content}}</p>
        </li>
    {% endfor %}

{% endmacro %}


{% macro displayTheVergeArticles(my_verge) %}

    {% for source, author, title, description, url, urlToImage, publishedAt, content in my_verge %}
        <li>
            <p>{{source.id}}</p>
            <p>{{author}}</p>
            <p>{{title}}</p>
            <p>{{description}}</p>
            <p>{{url}}</p>
            <p>{{urlToImage}}</p>
            <p>{{publishedAt}}</p>
            <p>{{content}}</p>
        </li>
    {% endfor %}

{% endmacro %}