<div class="navbar navbar-inverse" role="navigation" style="background-color:#A34700">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="color:#00D4F0;font-weight:bold;font-family:Rammetto One;font-size:26px">
        NewsFactRar
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/" style="color:#00D4F0;font-family:Bungee Inline;font-size:20px;">
            Home
          </a>
        </li>
        <li>
          <a href="/articles" style="font-weight:bold;font-family:Merienda One">
            All Articles
          </a>
        </li>
        <li>
          <a href="/sources" style="font-weight:bold;font-family:Merienda One">
            All Sources
          </a>
        </li>
        <li>

          <a href="/bbc">
            <button class="btn btn-info" style="font-family:Rammetto One;">
              BBC
            </button>
          </a>
        </li>
        <li>
          <a href="/cnn">
            <button class="btn btn-info" style="font-family:Love Ya Like A Sister;font-weight:bold;font-size:15px;">
              CNN
            </button>
          </a>
        </li>
        <li>
          <a href="/techC">
            <button class="btn btn-info" style="font-family:Rammetto One;">
              TechCrunch
            </button>
          </a>
        </li>
        <li>
          <a href="/tRadar">
            <button class="btn btn-info" style="font-family:Love Ya Like A Sister;font-weight:bold;font-size:15px;">
              TechRadar
            </button>
          </a>
        </li>
        <li>

          <a href="/verge">
            <button class="btn btn-info" style="font-family:Rammetto One;">
              The Verge
            </button>
          </a>
        </li>
      </ul>

    </div>

  </div>

</div>
